<main>
    <div class="logo">
        <i class="fa-solid fa-user-secret fa-2xl img"></i>
    </div>
    <div class="text">
        <p>Now, share your hidden secrets anonymously with the world.</p>
    </div>
    <div class="buttons">
        <a href="/register" class="btnH btn-dark" >Register</a>
        <a href="/login" class="btnH btn-light" >Login</a>
    </div>
</main>