<div class="secretsPage">
    <div class="secrets">
        {{#each secrets}}
            <div class="secretMessage">{{this}}</div>
        {{/each}}
    </div>
    <div class="nav">
        <form id="newSecret">
            <input type="text" name="secret" class="box" placeholder="Add secret here">
            <button type="submit" class="btn btn-dark">Add</button>
        </form>
        <a href="/secrets" class="btnH btn-light">Secrets</a>
    </div>
</div>

<script>
    document.querySelector("#newSecret").addEventListener("submit", async (event)=>{
        event.preventDefault();
        document.querySelector(".secrets").innerHTML= "";
        const formdata= new FormData(document.querySelector("#newSecret"));
        const form_data= new URLSearchParams(formdata);
        const secret_list= await fetch("/secrets/write", {
            method: "POST",
            body: form_data
        })
        const secretList= await secret_list.json();
        secretList.forEach((element)=>{
            const banner= document.createElement("div");
            banner.classList.add("secretMessage");
            banner.innerHTML= element.secret;
            document.querySelector(".secrets").appendChild(banner)
        })
    })
</script>