.secretsPage{
    width: 60vw;
    height: 98vh;
    margin: auto auto;
    position: relative;
}
.secrets{
    width: 100%;
    height: 90%;
    display: inline-block;
}
.nav{
    display: flex;
    justify-content: space-evenly;
}
.secretMessage{
    width: 90%;
    height: max-content;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 10px grey;
    display: inline-block;
    margin: 10px 2px;
    padding: 10px;
}
.box{
    display: inline-block;
    font-family: 'Dosis', sans-serif;
    width: 500px;
    padding: 6px;
    border-radius: 5px;
    margin: 5px;
    border: 2px solid rgba(128, 128, 128, 0.747);
    background-color: rgb(233, 227, 227);
    color: black;
}
.box:focus{
    border: 2px solid rgb(117, 117, 236);
}